body {
    padding: 0;
    margin: 0;
    outline: 0;
}

.wrapper {
    text-align: center;
    width: 100%;
    background: url('./img/bg.jpg') no-repeat center;
    background-size: cover;
}

.main {
    max-width: 1200px;
    margin: 0 auto;

    &__content {
        padding-top: 5%;
    }
}
