<div class="wrapper">
  <div class="main">
    <div class="main__content">
        <div class="main__content-table">
            <app-table-list></app-table-list>
        </div>
    </div>
  </div>
</div>
