.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-width {
    width: 30%;
}

.group {
    margin: 0 auto;
    padding: 1rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}