<div *ngIf = 'isLoad; else loader'>
  <div class="search">
      <mat-form-field class="example-full-width input-width">
          <input [(ngModel)] = 'flightNumber' matInput placeholder="Введите номер рейса" type = 'number'>
      </mat-form-field>
  </div>

  <mat-radio-group [(ngModel)] = 'selected' class="group">
      <mat-radio-button  value = 'delayed'>Delayed</mat-radio-button>
      <mat-radio-button  value = 'departing'>Departing</mat-radio-button>
      <mat-radio-button  value = 'arrived'>Arrived</mat-radio-button>
      <button mat-raised-button color="accent" (click) = 'selected = ""'>Reset</button>
  </mat-radio-group>

  <div class="table">
      <mat-table [dataSource]="dataSource | filter:flightNumber:selected" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="flightNumber">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.flightNumber}} </mat-cell>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.company}} </mat-cell>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="terminal">
            <mat-header-cell *matHeaderCellDef> Terminal </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.terminal}} </mat-cell>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="time">
              <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
  </div>
 </div>


<ng-template #loader>
    <mat-spinner class="center"></mat-spinner>
</ng-template>
